@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
    --colorFooterText: rgb(51, 68, 138);
    --colorText: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body {
    padding: 30px 35px;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--violet);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        'header'
        'main'
        'footer'
    ;
}


/* --------------------- HEADER ------------------------------ */
.header {
    grid-area: header;
    width: 100%;
    height: 100px;
}

.header figure {
    width: 140px;
    height: 40px;
}

.header img {
    display: block;
    width: 100%;
    height: 100%;
}


/* --------------------- MAIN ------------------------------ */
.main{
    margin: 0 auto;
    grid-area: main;
    width: 100%;
    max-width: 430px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.containerFigure {
    width: 100%;
    height: auto;
}
.containerFigure img {
    display: block;
    width: 100%;
    height: auto;
}



.container {
    width: 100%;
    height: auto;
    color: var(--colorText);
    text-align: center;
}
.containerTitle {
    font-size: 25px;
}
.containerText {
    padding: 20px 0 30px 0;
    font-size: 17px;
    font-weight: 200;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}


.Button {
    margin-bottom: 50px;
    border: none;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    height: 40px;
    font-weight: 700;
    color: var(--violet);
    cursor: pointer;
    transition: transform 300ms ease;
}
.Button:active {
    transform: scale(.9);
    color: var(--colorText);
    background: var(--softMagenta);
}
.Button:hover {
    color: var(--colorText);
    background: var(--softMagenta);
}

.footer .coded {
    width: 100%;
}
.footer .coded a {
    color: var(--colorText);
    letter-spacing: 2px;
    text-decoration: none;
}

/* --------------------- FOOTER ------------------------------ */
.footer {
    margin: 0 auto;
    grid-area: footer;
    width: 100%;
    max-width: 430px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes {
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 5px;
    width: auto;
    height: auto;
    display: flex;
    gap: 10px;
}
.redes a {
    border: 2px solid var(--colorText);
    border-radius: 50px;
    color: var(--colorText);
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 300ms ease;
}
.redes a:hover {
    border: 2px solid var(--softMagenta);
    color: var(--softMagenta);
}
.redes a:active {
    transform: scale(.8);
}

.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: var(--colorFooterText);
    font-weight: 600;
    letter-spacing: 2;
}

@media screen and (min-width: 800px) {

    .body {
        width: 100%;
        height: 100vh;
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header {
        padding-top: 50px;
    }

    .main{
        flex-direction: row;
        max-width: 100%;
        gap: 0;
        justify-content: center;
        gap: 60px;
    }

    .containerFigure {
        max-width: 660px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        max-width: 512px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    .containerTitle {
        font-size: 41px;
    }

    .Button {
        margin: 0;
    }

    .footer {
        padding: 0 20px;
        max-width: 100%;
        height: auto;
        justify-content: end;
        align-items: flex-end;
    }

    .footer .coded {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}